*.log
wp-config.php
wp-config-sample.php
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/plugins/
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz